{% extends 'base.html.twig' %}

{% block title %}Edition utilisateur{% endblock %}

{% block body %}
{# {% for error in errors %}
    {{ error.message }}
{% endfor %} #}

    <h1 class=" mb-3 font-weight-bold">Edition d'un utilisateur !</h1>

    {{ form_start(formEdit) }}
    {{ form_rest(formEdit) }}
        

       
    <button class="btn btn-primary mt-2">Mettre à jour</button>
    {{ form_end(formEdit) }}

{% endblock %}
