{% extends 'base.html.twig' %}

{% block title %}Nouvelle photo{% endblock %}

{% block body %}
{# {% for error in errors %}
    {{ error.message }}
{% endfor %} #}

    <h1 class=" mb-3 font-weight-bold">Edition de la photo !</h1>


     {{ form_row(formUpload.imageFile) }}
        {{ form_row(formUpload.description) }}
        {{ form_row(formUpload.tags) }}
        {{ form_row(formUpload.category) }}

        <button class="btn btn-primary mt-2">Mettre à jour</button>
        {{ form_end(formUpload, { 'render_rest':false }) }}
   

{% endblock %}
