{% extends 'base.html.twig' %}

{% block title %}Gestion de photos {% endblock %}

{# Ajout de notre javascript #}
{# defer permet de dire aux navigateurs de chargé ce fichier à la fin #}
{# parent() récupère les fichiers js de Bootsrap il devient parent de notre js #}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/deleteModal.js') }}" defer></script>
 {% endblock %}

{% block body %}

    <h1>Mes photos !</h1>

    <a href="{{ path('account_new_picture') }}" class="btn btn-primary mb-4">Nouvelle photo</a>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Aperçu</th>
      <th scope="col">Déposée le</th>
      <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
  
   {% for picture in pictures %}
      <tr>
    
        <td>{{ picture.id }}</td>
        <td><img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('short') }}" alt="{{ picture.image }}" class="img-fluid"></td>
        <td>{{ picture.createdAt |date('d/m/Y ') }}</td>
        <td><a href="{{ path('account_edit_picture', { id: picture.id }) }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg></a>
            <button type="button" data-href="{{ path('account_delete_picture', { 'id': picture.id }) }}" class="btn btn-dark confirm-delete" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg></button>
        </td>
      
      </tr>
    {% else %}
    <tr>
    {# Colspan = fusionne les colonnes ici 4 #}
    <td class="py-2 text-center text-danger" colspan="4">Aucune photo pour cet utilisateur pour le moment !</td>
    </tr>
    {% endfor %}

    </table>
    {{ knp_pagination_render(pictures) }}



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Suppression de la photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer cette photo ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a href="" class="btn btn-danger">Confirmer</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
