{% extends 'base.html.twig' %}

{% block title %}Nouvelle photo{% endblock %}

{% block body %}
{# {% for error in errors %}
    {{ error.message }}
{% endfor %} #}

    <h1 class=" mb-3 font-weight-bold">Nouvelle photo !</h1>

    {{ form_start(formUpload) }}
    
    {{ form_row(formUpload.imageFile) }}
    {{ form_row(formUpload.description) }}
    {{ form_row(formUpload.tags) }}
    {{ form_row(formUpload.category) }}

    <button class="btn btn-primary mt-2">Envoyer ma photo</button>
    {{ form_end(formUpload, { 'render_rest':false }) }}

{% endblock %}
