{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}

<h1 class="mb-3 font-weight-normal">Réinitialisation du mot de passe</h1>
<p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>

<form>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit" id="valider">
        Valider le mot de passe
    </button>   
</form>
{% endblock %}