{% extends 'base.html.twig' %}

{% block title %}Look Image!
{% endblock %}

{% block body %}

	{#  Liste des categories lien cliquable #}
	<ul class="nav justify-content-center py-4">
		{% for categorie in categories %}
		<li class="nav-item mx-2">
		{# path() contient le nom de la route vers laquelle nous souhaitons nous rediriger #}
			<a href="{{ path('pictures_by_category', { id: categorie.id } ) }}" class="nav-link" >
				{{ categorie.name }}
			</a>
		</li>
		{% endfor %}
	</ul>

	<h1>Accueil</h1>

	<div class="container">
		<div class="row">
			{#  for équivalant de foreach(), mais la condition est inversé #}
			{% for picture in pictures %}

				<div class="col-3 mb-4">
					<div class="card" >
						<a href="{{ path('picture_view', { id: picture.id } ) }}" >
						<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="rounded img-fluid">
						</a>
						<div class="card-body">
						<p>{{ picture.description }} </p>

						</div>
					</div>
				</div>
			{% endfor %}
			
		</div>
		<div class="nav justify-content-center py-4 mb-5 k">
        {{ knp_pagination_render(pictures) }}
    </div>
	
	</div>
	

{% endblock %}
