{% extends 'base.html.twig' %}

{% block title %}Détail de la photo
	{{ picture.tags }}
{% endblock %}

{% block body %}
<h1>Aperçu de la photo</h1>
    {# <div class="py-4">
	    <a href="{{ path('home') }}"> retour à l'accueil</a>
    </div> #}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
            <a href="{{ asset('uploads/images/photos/'~ picture.image) }}">
                <img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('medium')  }}" alt="{{ picture.image }}" class=" rounded img-fluid">
            </a>
                    <div class="card-body">
                        <p>Publié le  {{ picture.createdAt |date('d/m/Y à h\\hi') }}</p>
                        <p>{{ picture.description }}</p>
                        <small>{{ picture.tags }}</small>
                        
                    </div>
            </div>
        </div>
        <hr class="mt-5">
        {#Afficherlesimagesdelamêmecategorie#}
        

            <h2>Photos de la catégorie {{ picture.category.name }}</h2>
            {# 
        "picture" correspond aux infos de notre image, à partir de cette image, nous allons chercher
        la catégorie reliée à l'image "picture.category" et à partir de cette catégorie, nous avons la
        possibilité de récupérer toutes les images liées à cette même catégorie "picture.category.pictures"
    #}
            <div class="row">
                {% for photo in photos %}
               {#  
                !== s'écrit en Twig : is not same as()
                === s'écrit en Twig : is same as()
                 #}
                      {% if photo.image is not same as(picture.image)  %}
                    <div class="col-3 mb-4">
                        <a href="{{ path('picture_view', { id: photo.id }) }}">
                            <img src="{{ asset('uploads/images/photos/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}" class="rounded img-fluid">
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        <div class="nav justify-content-center py-4 mb-5 k">
            {{ knp_pagination_render(photos) }}
        </div>
    </div>
    


{% endblock %}
