{% extends 'base.html.twig' %}

{% block title %}Photos de la catégorie "{{ category.name }}" {% endblock %}

{% block body %}
{# <div class="py-4">
	    <a href="{{ path('home') }}"> retour à l'accueil</a>
</div> #}

{# Pas besoin de boucle si on selectionne un seul enregistrement en BDD (comme fetch()) #}
<h1>Catégorie "{{ category.name }}"</h1>

	<div class="container">
		<div class="row">
			{#  for équivalant de foreach(), mais la condition est inversé #}
			{% for picture in pictures %}

				<div class="col-6 mb-4">
					<div class="card" style="width: 15rem;">
					<a href="{{ path('picture_view', { id: picture.id } ) }}" >
						<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="img-fluid">
						</a>
						<div class="card-body">
						<p>{{ picture.description }} </p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="nav justify-content-center py-4 mb-5 k">
        {{ knp_pagination_render(pictures) }}
    </div>

	</div>
{% endblock %}
