:root{
    font-size: 1.2rem;
}

body {
    background-color: lightgray;
    
}
h1 {
    margin: 2rem;
}
body ul li {
    text-decoration: none;
    font-size: 0.5rem;
    color:black;
    border: 1px solid black;
}

