{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
{# {% for error in errors %}
    {{ error.message }}
{% endfor %} #}

    <h1 class=" mb-3 font-weight-bold">Nouvelle catégorie</h1>

    {{ form_start(formNewCat) }}
    {{ form_rest(formNewCat) }}

    <button class="btn btn-primary mt-2">Valider</button>
    {{ form_end(formNewCat) }}

{% endblock %}
