<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

            {#  asset() pointe le dossier "public". Suffit ensuite de terminer le chemein à parcourir. A utiliser avec le CSS, JS et images #}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Lookimage</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					
						
						
						<li class="nav-item active px-2">
							<a class="nav-link" href="{{ path('home') }}">Accueil</a>
						</li>
						<li class="nav-item active px-2">
							<a class="nav-link" href="{{ path('account') }}">Mon compte</a>
						</li>
						{# app.user contient les données de l'utilisateur connecté si la personne n'est pas connecté, "app.user" vaut null #}
						{% if app.user is null %}
						<li class="nav-item active px-2">
							<a class="nav-link" href="{{ path('app_login') }}" >Connexion</a>
						</li>
						<li class="nav-item active px-2">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li>
						{% else %}
						<li class="nav-item active text-white text-align-center px-2">
							Bienvenue {{ app.user.firstname }}
						</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item active px-2">
							<a class="nav-link" href="{{ path('admin_user') }}" >Gestion des utilisateurs</a>
						</li>
						<li class="nav-item active px-2">
							<a class="nav-link" href="{{ path('admin') }}">Gestion des categories</a>
						</li>
						
						<li class="nav-item active px-2">
							<a class="nav-link" href="{{ path('admin_pictures') }}">Gestion des photos</a>
						</li>
						{% elseif is_granted('ROLE_EDITOR') %}
						<li class="nav-item active px-2">
							<a class="nav-link" href="{{ path('admin_pictures') }}">Gestion des photos</a>
						</li>
						
											
						{% endif %}
						{% endif %}


						<li class="nav-item active">
							<a class="nav-link text-danger px-2" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
						
					</ul>
					
				</div>
			</div>
		</nav>

		 <div class="container mx-auto py-5">
            {% block body %}{% endblock %}
        </div>

	</body>
	<footer></footer>
</html>
